# Environment variables (secrets)
server/.env
client/.env
.env
.env.*
!.env.example

# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# OS/editor
.DS_Store
.vscode/

# Builds
client/dist/
server/dist/
server/.env
client/.env